@import url("https://fonts.googleapis.com/css?family=Montserrat:wqht@200;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background-color: #05005b;
}


.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.nav-ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    border: 0;
    border-radius: 50%
    border-color: #000000;
    background-color: #000000;
}

.nav-li {
    list-style: none;
    border-color: #000000;
    border-radius: 25%;
    background-color: #000000;
}

.nav-button {
    width: 10vh;
    height: 10vh;
    background-color: #000000;
    color: #FFFFFF;
}

.clicker {
    font-size: 14vh;
    border: 10px solid #000000;
    border-radius: 100%;
    margin-top: 10px;
    height: 40vh;
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #800080, #191970);
}

.fire-gradient {
    font-weight: 500;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #FF4500, #FFD700);
}